.app{

}
.wrapper{
    padding: 60px 0 0 0;
}
.spinner-border{
    border-color: #cecece;
    border-right-color: transparent;
}

/*Start Header*/
.header{
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px -9px #6c6c6c;
    z-index: 999;
}
.navbar{
    padding: 10px 0;
}
.navbar-brand{
    padding: 7px 0;
    margin: 0;
    height: 40px;
    color: black !important;
    font-weight: bold;
}
.navbar-brand img{
    height: 100%;
    margin: -5px 0 0 0;
}
.nav-link{
    font-size: 15px;
    color: #000000;
}
.nav-link:hover{
    color: #000000;
}
.nav-link.logout{
    background: #F44336;
    color: white;
    padding: 7px 15px !important;
    border-radius: 4px;
    margin: 0 0 0 5px;
}
button.navbar-toggler {
    border: 1px solid #000000;
    height: 35px;
    width: 35px;
    outline: 0;
    padding: 6px 8px;
    border-radius: 5px;
}
button.navbar-toggler span{
    display: block;
    width: 100%;
    height: 2px;
    background: #000000;
    margin: 4px 0;
}
/*End Header*/

/*start login + register*/
.loginBlock {
    position: relative;
}
.loginBlock > div{
    width: calc(100% - 30px);
    max-width: 450px;
    box-shadow: 0 0 20px 0 #dddddd;
    background: #363349;
    padding: 70px;
    border-radius: 5px;
    margin: 15px auto;
}
.loginBlock .right{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 30px 0 0;
}
.loginBlock h2{
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;
    color: white;
    text-align: center;
}
.loginBlock input{
    margin-bottom: 10px;
    border-radius: 0;
    box-shadow: none !important;
    font-size: 14px;
    padding: 10px 0;
    height: auto;
    border: 0 !important;
    border-bottom: 1px solid white !important;
    background: transparent !important;
    color: white !important;
}
.loginBlock input::-webkit-input-placeholder {
    color: white;
}
.loginBlock p{
    font-size: 14px;
    margin-bottom: 10px;
}
.loginBlock button{
    font-size: 14px;
    border-radius: 30px;
    box-shadow: none !important;
    background: white;
    margin: 20px 0 0 0;
    padding: 10px 30px;
}
.loginFooter{
    text-align: center;
}
.loginFooter > a{
    display: block;
    margin: 20px 0 0 0;
    color: white !important;
    text-decoration: none;
    font-size: 14px;
}
.formStatus{
    text-transform: capitalize;
}
/*end login + register*/